In [0]:
import torch
from torch.autograd import Variable
import torch.nn.functional as F
import torch.utils.data as Data
import matplotlib.pyplot as plt
#%matplotlib inline

import math 
import numpy as np
import pandas as pd
import imageio
from sklearn.utils import shuffle

In [0]:
FRAME_WIDTH = 640
FRAME_HEIGHT = 480
FRAME_DIAGONAL = math.sqrt(FRAME_WIDTH ** 2 + FRAME_HEIGHT ** 2 )

In [60]:
dataframe = pd.read_csv("sub1_3-8.csv")
print("Shape of dataset = ", dataframe.shape)
print("No of feature vectors in  dataset = ", dataframe.shape[0])
print("Shape of columns in dataset = ", dataframe.shape[1])
dataframe.head()

Shape of dataset =  (9967, 7)
No of feature vectors in  dataset =  9967
Shape of columns in dataset =  7

           x          y          h          w  c_x  c_y  class
0  301.44717  17.780270  465.00500  144.31918  373  250      3
1  302.80048  18.843270  461.93546  141.28949  373  249      3
2  301.75473  17.740875  464.02628  143.35468  373  249      3
3  302.46655  17.484642  464.16852  142.98602  373  249      3
4  303.04156  16.914768  464.52830  141.69748  373  249      3

In [61]:
dataframe_shuffled = shuffle(dataset)
dataframe_shuffled.head()

              x          y          h          w  c_x  c_y  class
3009  277.43375   4.733419  463.98290  140.05234  347  236      3
2878  278.65290  18.760185  452.75510  139.74560  348  245      3
1197  278.12857   9.396415  459.56723  142.07193  349  239      3
6427  296.04227  36.252280  297.81424  104.87421  348  185      6
9919  334.98895  47.475616  215.25357   75.53912  372  155      8

In [62]:
train_set = dataframe_shuffled.sample(frac=0.80, random_state=0)
test_set = dataframe_shuffled.drop(train_set.index)
train_set.head()

              x          y          h           w  c_x  c_y  class
5856  271.69812  22.739153  343.66116  124.986940  334  194      5
5067  281.20694  22.555676  364.60490  134.802150  348  204      5
607   303.76960  48.970383  434.77880  157.064210  382  266      3
6120  299.64032  28.671326  311.16230  111.012480  355  184      6
8162  320.98993  51.350483  227.93239   89.252625  365  165      7

In [64]:
dataframe_y_train = train_set['class']
dataframe_x_train = train_set[['h','w']]
dataframe_y_test = test_set['class']
dataframe_x_test = test_set[['h','w']]
print("Size of dataframe_y_train is {}" .format(dataframe_y_train.shape ))
print("Size of dataframe_x_train is {}" .format(dataframe_x_train.shape ))
print("Size of dataframe_y_test is {}" .format(dataframe_y_test.shape ))
print("Size of dataframe_x_test is {}" .format(dataframe_x_test.shape ))

Size of dataframe_y_train is (7974,)
Size of dataframe_x_train is (7974, 2)
Size of dataframe_y_test is (1993,)
Size of dataframe_x_test is (1993, 2)

In [65]:
dataset_x_train.head()

              h          w
3930  355.70538  123.22595
5936  343.15317  125.57001
5591  335.59488  124.62848
5012  361.12480  127.15378
5148  366.80295  135.95267

In [0]:
def add_diag(df):
  modified_dataframe = pd.DataFrame()
  modified_dataframe['height'] = 1/(df['h']/FRAME_HEIGHT)
  modified_dataframe['width'] = 1/(df['w']/FRAME_WIDTH)
  modified_dataframe['diagonal'] = 1/(((df['h'] ** 2 + df['w'] ** 2) ** (1/2))/FRAME_DIAGONAL) # + dataset_x_train['w']** 2)
  print(modified_dataframe.head())
  return modified_dataframe

In [0]:
modified_dataframe_x_train = add_diag(dataframe_x_train)
modified_dataframe_x_test = add_diag(dataframe_x_test)

In [75]:
tensor_x_train = torch.tensor(modified_dataframe_x_train.values)
tensor_x_test = torch.tensor(modified_dataframe_x_test.values)
tensor_y_train = torch.tensor(dataframe_y_train.values)
tensor_y_test = torch.tensor(dataframe_y_test.values)
print(tensor_x_train)

tensor([[1.3967, 5.1205, 2.1877],
        [1.3165, 4.7477, 2.0580],
        [1.1040, 4.0748, 1.7306],
        ...,
        [1.5426, 5.8625, 2.4260],
        [1.3204, 5.0059, 2.0761],
        [1.3260, 5.1509, 2.0903]], dtype=torch.float64)